@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khula:700');

body {
  padding: 50px;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}


section#about h1 {
  text-align: center;
}

.contain {
  padding: 0px 15px;
}

.contain-xs {
  width: auto;
}

.contain-sm {
  width: 540px;
}

.contain-md {
  width: 720px;
}

.contain-lg {
  width: 960px;
}

.contain-xl {
  width: 1170px;
}

a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.8);
}
a:hover,
a:focus {
  color: #1a1a1a;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color 0.35s ease;
}
.menu-left a:before,
.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
}
.menu-left a:before {
  left: 0;
  transition: width 0s ease, background 0.35s ease;
}
.menu-left a:after {
  right: 0;
  background: #000;
  transition: width 0.35s ease;
}
.menu-left a:hover:before {
  width: 100%;
  background: #000;
  transition: width 0.35s ease;
}
.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
}
header nav .logo {
  float: left;
  padding-left: 20px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: inherit;
  font-weight: 500;
  color: black;
}
header nav ul {
  list-style: none;
  padding-left: 0;
  padding-right: 50px;
  margin: 0;
}
header nav ul li {
  float: none;
  margin-left: 0;
}
header nav ul li a {
  display: block;
  font-size: 1.25rem;
}
@media (min-width: 576px) {
  header nav ul li a {
    padding: 0.425rem 0;
  }
}
@media (min-width: 768px) {
  header nav ul li {
    float: left;
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  header ul {
    clear: both;
  }
  header ul li {
    padding: 0.5em 0;
  }
}

.hide-nav {
  transform: translateY(-120%)!important;
}

ul.menu-left {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  z-index: 10;
}
@media (min-width: 768px) {
  ul.menu-left {
    display: block!important;
    float: right;
    max-height: none;
  }
}
ul.menu-left:before {
  content: '';
  display: table;
  clear: both;
}
ul.menu-left.collapse {
  max-height: 15em!important;
}

.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px;
}
.nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}
@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: #000;
  transition: all 0.25s;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.info-section {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
  padding-left: 60px; /* Adjusted padding to move content away from the edge */
  padding-right: 60px; /* Added padding on the right side as well */
  border-bottom: 2px solid white; /* Add a white border at the bottom */
}

.info-image {
  padding-top: 200px;
  padding-bottom: 150px;
  max-width: 45%; /* Adjusted to give more space for text */
  height: auto;
  margin-right: 30px; /* Increased margin to provide more space between image and text */
}

.info-text {
  max-width: 50%;
}

.info-text h2 {
  padding-left: 150px;
  padding-top: 200px;
  font-size: 35px; /* Increased font size for the heading */
  margin-top: 0;
}

.info-text p {
  padding-left: 150px;
  font-size: 20px; /* Increased font size for the paragraph */
  line-height: 1.6; /* Increased line height for better readability */
}




.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 60px;
}
.container .box
{
    position: relative;
    width: 300px;
    height: 350px;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box::before
{
    content: '';
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    z-index: -1;
    transform: skewY(15deg);
    transition: 0.5s ease-in-out;
}
.container .box:hover::before
{
    transform: skewY(0deg);
    inset: -10px 40px;
}
.container .box::after
{
    content: '';
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    z-index: -1;
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
}
.container .box:hover::after
{
    transform: skew(0deg);
    inset: 40px -10px;
}
.container .box .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container .box .content .icon
{
    color: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e,0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: #2e2e2e;
    transition: 0.5s ease-in-out;
}
.container .box:hover .content .icon 
{
    background: var(--clr);
    color: #2e2e2e;
    box-shadow: 0 0 0 4px #2e2e2e,0 0 0 300px var(--clr);
}
.container .box .content .text h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
.container .box:hover .content .text h3
{
    color: #2e2e2e;
}
.container .box .content .text p
{
    color: #999;
    transition: 0.5s ease-in-out;
}
.container .box:hover .content .text p
{
    color: #2e2e2e;
}
.container .box .content .text a
{
    position: relative;
    background: var(--clr);
    color: #2e2e2e;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}
.container .box:hover .content .text a
{
    background: #2e2e2e;
    color: var(--clr);
}

.data-ai-section {
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.data-ai-section h2 {
  font-size: 5em;
  margin-bottom: 40px;
}

.data-ai-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-item {
  width: 22%;
  min-width: 200px;
  margin: 20px 0;
  text-align: center;
  position: relative;
}

.stat-item .highlight {
  width: 30px;
  height: 5px;
  background-color: #8a00d4;
  margin: 0 auto 10px auto;
}

.stat-item h3 {
  font-size: 2em;
  margin: 10px 0;
}

.stat-item p {
  font-size: 1em;
  line-height: 1.5;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
  color: white;
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, #2e2b2d 0%, #42828f 100%);
  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  
  min-height: 100vh;
}

.container {
  flex: 0 1 1200px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
